[Unit]
Description=Xvfb virtual framebuffer X server for X Version 11
After=network.target

[Service]
ExecStart=/usr/bin/Xvfb :0 -screen 0 1920x1080x16 -noreset

[Install]
WantedBy=multi-user.target
