[usmqepytest]
usm_log_level = DEBUG
usm_username = admin
usm_password = {{ hostvars[groups['usm_server'][0]]['admin_password'].stdout }}
usm_web_url = http://{{ groups['usm_server'][0] }}
usm_api_url = http://{{ groups['usm_server'][0] }}/api/1.0/
etcd_api_url = http://{{ groups['usm_server'][0] }}:2379/v2/
usm_ca_cert = conf/ooo_ca.crt
usm_brick_path = /bricks/fs_gluster01/brick
usm_gluster_role = gluster
usm_volume_name = TestVolume
usm_gluster_version = 3.8.3
