[Unit]
Description=Tendrl alerts logger for user %i

[Service]
Type=simple
ExecStart=/bin/sh -c "/usr/local/bin/alerts_logger.py %i"

[Install]
WantedBy=multi-user.target
